body {
  background-color: rgb(214, 171, 195);
}

h1 {
  color: #6f1a80;
  text-align: center;
}

.aktif {
  background-color: #6f1a80;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

li {
  float:left;
}

li a {
  display: inline-block;
  padding: 14px 16px;
  background-color: #ccc;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
  text-align: center;
}

li a:hover {
  background-color: #888888;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.anasayfa {
  color: rgb(231, 89, 167);
  text-align: center;
}

a {
  text-decoration:none;
  color: #ececec;
  font-size: 20px;
}

h2 {
  color: #801a72;
}

.roman1{
  float:left;
	height:250px;
	margin: 40px 60px;
  text-align: center;
}

.roman2{
  float:left;
	height:250px;
	margin: 40px 60px;
  text-align: center;
}